:root {
    --body_background-color: #333;
    --button_background-color: #0a68ba;
    --button-hover_background-color: #afcbe3;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

* {
    box-sizing: inherit;
}

body {
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 100%;
    letter-spacing: 0.06em;
    color: #afcbe3;
    background-color: var(--body_background-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 60%;
    overflow: hidden;
    margin: 0 auto;
    margin: 2rem;
}

.images {
    display: flex;
    width: 100%;
    margin-bottom: 1rem;
}

.responsive {
    max-width: 100%;
    height: auto;
    transition: all 0.3s ease;
}

input {
    display: none;
}

.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.buttons {
    display: flex;
    justify-content: end;
}

.buttons .label {
    height: 4rem;
    display: block;
    padding: 0 0.8rem;
    cursor: pointer;
    transition: all 0.3s ease;
    margin: 0 0.1rem;
}

.buttons .label:hover {
    background-color: transparent;
}

.btn {
    display: block;
    padding: 0.6rem;
    border-radius: 50%;
    border: 0.2rem solid var(--button_background-color);
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: var(--button_background-color);
}

.label:hover>.btn {
    background-color: var(--button-hover_background-color);
    border: 0.2rem solid var(--button-hover_background-color);
}

.label:active>.btn {
    transform: scale(1.2, 1.2);
    opacity: 0.5;
}

.slider_text {
    display: none;
    user-select: auto;
}

#img_1:checked~.footer .text .slider_1,
#img_2:checked~.footer .text .slider_2,
#img_3:checked~.footer .text .slider_3,
#img_4:checked~.footer .text .slider_4,
#img_5:checked~.footer .text .slider_5 {
    display: inline-block;
    animation: show 1.5s linear;
}

@keyframes show {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#img_1:checked~.images .slider_1 {
    margin-left: 0;
}

#img_1:checked~.footer .buttons #btn_1 .btn1 {
    background-color: var(--body_background-color);
    border: 0.2rem solid var(--button_background-color);
}

#img_2:checked~.images .slider_2 {
    margin-left: -100%;
}

#img_2:checked~.footer .buttons #btn_2 .btn2 {
    background-color: var(--body_background-color);
    border: 0.2rem solid var(--button_background-color);
}

#img_3:checked~.images .slider_3 {
    margin-left: -200%;
}

#img_3:checked~.footer .buttons #btn_3 .btn3 {
    background-color: var(--body_background-color);
    border: 0.2rem solid var(--button_background-color);
}

#img_4:checked~.images .slider_4 {
    margin-left: -300%;
}

#img_4:checked~.footer .buttons #btn_4 .btn4 {
    background-color: var(--body_background-color);
    border: 0.2rem solid var(--button_background-color);
}

#img_5:checked~.images .slider_5 {
    margin-left: -400%;
}

#img_5:checked~.footer .buttons #btn_5 .btn5 {
    background-color: var(--body_background-color);
    border: 0.2rem solid var(--button_background-color);
}

#img_1:checked~.footer .buttons #btn_1:hover>.btn1,
#img_2:checked~.footer .buttons #btn_2:hover>.btn2,
#img_3:checked~.footer .buttons #btn_3:hover>.btn3,
#img_4:checked~.footer .buttons #btn_4:hover>.btn4,
#img_5:checked~.footer .buttons #btn_5:hover>.btn5 {
    background-color: var(--body_background-color);
    border: 0.2rem solid var(--button-hover_background-color);
}

@media screen and (max-width: 970px) {

    .images {
        margin-bottom: 2rem;
    }

    .footer {
        display: flex;
        flex-wrap: wrap-reverse;
    }

    .buttons .label {
        height: 3rem;
        padding: 0 0.6rem;
    }

    .text {
        margin-top: 0.5rem;
        font-size: 1.0rem;
    }

}

@media screen and (max-width: 375px) {

    .images {
        margin-bottom: 2rem;
    }

    .footer {
        display: flex;
        flex-wrap: wrap-reverse;
    }

    .buttons {
        display: flex;
        justify-content: center;
    }

    .buttons .label {
        height: 3rem;
        padding: 0 0.6rem;
    }

    .btn {
        padding: 0.5rem;
    }

    .text {
        margin-top: 0.5rem;
        font-size: 1.0rem;
    }

}